@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
  --yellow: #ffcc0d;
  --black: #000;
  --white: #fff;
  --light-bg: #eee;
  --border-bold: 0.5rem solid var(--black);
  --border-light: 0.2rem solid var(--black);
}
* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  color: var(-- black);
}

*::selection {
  background-color: var(-- black);
  color: var(-- yellow);
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(-- yellow);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  overflow: hidden;
  transition: 0.2s linear !important;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--white);
  border-right: var(--border-bold);
  width: 35rem;
  padding: 3rem 2rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-flow: column;
  transition: 0.2s linear !important;
  align-items: center;
}
.header .logo {
  text-transform: uppercase;
  border-bottom: var(--border-bold);
  font-weight: bolder;
  font-size: 4.5rem;
}
.header .navbar {
  width: 100%;
}
.header .navbar a {
  display: block;
  font-size: 2.5rem;
  padding: 1.5rem;
  margin: 0.5rem;
}
.header .navbar a.active,
.header .navbar a:hover {
  background-color: var(--yellow);
}

.header .follow a {
  font-size: 3rem;
  margin: 0 1rem;
  cursor: pointer;
  transition: 0.6s linear !important;
}
.header .follow a:hover {
  transform: rotate(360deg);
}

#menu-btn {
  position: absolute;
  top: 0; right: -5.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 5rem;
  font-size: 2.5rem;
  cursor: pointer;
  background-color: var(--black);
  color: var(--white);
}


.header.active{
  left: -35rem;
}