@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
  --yellow: #ffcc0d;
  --black: #000;
  --white: #fff;
  --light-bg: #eee;
  --border-bold: 0.5rem solid var(--black);
  --border-light: 0.2rem solid var(--black);
}
* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  color: var(-- black);
}

*::selection {
  background-color: var(-- black);
  color: var(-- yellow);
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(-- yellow);
}
